html,
body {
  overflow-x: hidden;

  @apply selection:bg-indigo-500 py-2 px-2 md:px-4 min-h-screen w-screen;
}
body {
  scrollbar-gutter: stable both-edges;
}
.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 4s alternate forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
