html,
body {
  overflow-x: clip;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  @apply selection:bg-indigo-500   md:px-4 min-h-screen w-screen;
}

.path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 4s alternate forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.btn {
  @apply p-2 border border-zinc-600 hover:bg-white hover:text-black transition-all duration-200;
}
