---
import '@fontsource/jetbrains-mono'
import '@fontsource/roboto'
import '@fontsource/inter-tight'
import './global.css'

import Header from '../components/Header'
import Home from '../components/Home.astro'
import Skills from '../components/Skills'
import Footer from '../components/Footer.astro'
import Projects from '../components/Projects'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		  <meta property="og:title" content="portableCoder" />
      <meta
        property="og:image"
        content="https://raw.githubusercontent.com/portableCoder/portableCoder/page/public/frame.png"
      />

		<link rel="icon" type="image/svg+xml" href="/portableCoder/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>portableCoder</title>
	</head>
	<body class="bg-zinc-95 font-inter  text-white bg-zinc-950 flex flex-col gap-y-4">
		<Header client:load/>
		<Home />
		<Skills client:visible/>
		<Projects client:visible/>
		<Footer />


	</body>
</html>
