
<header class="w-full text-base font-mono  top-0  items-center left-0 px-4  flex justify-between">
    <div class="text-lg md:text-2xl font">
        Lorem Ipsum
    </div>
    <div class="flex gap-x-2 text-xs md:text-base items-center">
        <div>
            Skills
        </div>
<div>
    Work
</div>
        <div>
            Github
        </div>
        <div>
            Blog
        </div>

    </div>
</header>